.tutorial_container {
  width: 100%;
  margin: 2em 0;
}

.tutorial_container h2 {
    font-size: 2em;
    margin-bottom: 1em;
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    color: #fff;
    border-radius: 10px;
    padding: 0.5em;
}

.tutorial_container p {
  margin-bottom: 1em;
  padding: 0.3em;
}